body {
  background: url(background-img.jpg);
  background-size: cover;
}

.song {
  display: block;
  margin-bottom: -60px;
}


#search {
background: url('black50.png');
color: white;
width: 250px;
height: 50px;
border-color: #FF0066;
font-size: 20px;
border-radius: 12px;
margin-bottom: 50px;
}


#search:focus {
  outline: none;
}

#button {
  background-color: #990033;
  width: 110px;
  height: 50px;
  border-radius: 12px;
  border-color: transparent;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

#button::hover {

}




