body {
  background: url(desktop-background-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed;
  background-position: center center;
}

.song {
  display: block;
  margin-bottom: -60px;
  width: 365px;
  margin-left: 4%;
  position: relative;
}

.logo-border {
  color: white;
  padding-right: 7px;
  border: 1px solid white;
  display: inline-block;
  margin-left: 80%;
  margin-top: 20px;
}

.logo {
  padding-left: 7px;
  font-size: 45px;
  margin-top: 2px;
  margin-bottom: 2px; 
}

.search {
  background: url('black50.png');
  color: white;
  width: 225px;
  height: 50px;
  border-color: #990033;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-left: 4%;
  margin-top: 5px;
  margin-right: 2px;
  font-family: 'Abel', sans-serif;
  text-indent: 4px;
}


.search:focus {
  outline: none;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #D00000;
}

.button:active {
  background-color: #680000;
}

.button {
  background-color: #990033;
  width: 110px;
  height: 50px;
  border-radius: 10px;
  border-color: transparent;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  font-family: 'Abel', sans-serif;
}

.error {
  color: white;
  font-size: 23px;
  margin-left: 4%;
  margin-right: 35%;
  opacity: 1;
  transition: 10s ease-in;
  padding-bottom: 40%;
  font-family: 'Abel', sans-serif;
}

.opening-msg {
  text-align: center;
  color: white;
  margin-top: 50px;
  font-size: 25px;
  font-family: 'Abel', sans-serif;
}

#opening-button {
  text-align: center;
}

.start-button {
  font-size: 35px;
  border-color: transparent;
  border-radius: 12px;
  cursor: pointer;
  font-family: 'Abel', sans-serif;
}

.start-button:hover {
  background-color: #990033;
  color: white;
}

.start-button:focus {
  outline: none;
}

#search-ops {
  cursor: pointer;
}

.display-genre {
  color: white;
  font-family: 'Abel', sans-serif;
  margin-left: 4%;
  font-size: 23px;
}

.list {
  overflow-x: hidden; 
  overflow: scroll; 
  width: 100%; 
  height: 500px;
  color: red;
}

@media only screen and (max-width: 600px) {
  .logo-border {
    margin-left: 55%;
  }
  body {
    background: url(mobile-background-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    background-position: center center;
  }
  .song {
    width: 300px;
  }
  
  .logo {
    font-size: 35px;
  }
  .search {
    width: 200px;
  }
  .button {
    width: 100px;
    font-size: 17px;
  }
}

@media only screen and (max-width: 361px) {
  .search {
    margin-right: 1px;
    font-size: 15px;
  }

  .opening-msg {
    font-size: 20px;
  }
  .start-button {
    font-size: 25px;
  }
  .error {
    font-size: 19px;
  }
}

@media only screen and (max-width: 321px) {
  .search {
    width: 175px;
  }
}

